# Knihovna pandas a z√°kladn√≠ manipulace s tabulkov√Ωmi daty

P≈ôed jakoukoli slo≈æitƒõj≈°√≠ anal√Ωzou je t≈ôeba nauƒçit se z√°klady pr√°ce se zpracov√°van√Ωmi daty. Data m≈Ø≈æou b√Ωt r≈Øzn√©ho charakteru - jednorozmƒõrn√°, dvourozmƒõrn√°, strukturovan√°, nestrukturovan√°, obrazov√°, zvukov√°... V lekc√≠ch explorativn√≠ datov√© anal√Ωzy budeme pracovat s daty p≈ôev√°≈ænƒõ **tabulkov√Ωmi** - tedy takov√Ωmi, kter√© jistƒõ zn√°≈° ze sv√©ho obl√≠ben√©ho (nebo neobl√≠ben√©ho) tabulkov√©ho procesoru ("spreadsheetu"). Obvykle ka≈æd√Ω **≈ô√°dek** takov√© tabulky odpov√≠d√° nƒõjak√© vƒõci, exempl√°≈ôi ƒçehosi, p≈ô√≠padnƒõ nƒõjak√©mu pozorov√°n√≠. V jednotliv√Ωch **sloupc√≠ch** se pak nach√°zej√≠ jednotliv√© vlastnosti ƒçi mƒõ≈ôen√© veliƒçiny pro tyto vƒõci charakteristick√©.

Ve svƒõtƒõ Pythonu se pro zpracov√°n√≠ tabulkov√Ωch dat nejƒçastƒõji pou≈æ√≠v√° knihovna **pandas**. Ta umo≈æ≈àuje naƒç√≠tat data z mnoh√Ωch form√°t≈Ø (vƒçetnƒõ se≈°it≈Ø XLS(x)), r≈Øznƒõ je upravovat, velice efektivnƒõ poƒç√≠tat se sloupci, p≈ô√≠mo zkoumat nƒõkter√© statistick√© ukazatele a v neposledn√≠ ≈ôadƒõ v√Ωsledky pƒõknƒõ vizualizovat. Tato lekce tƒõ sezn√°m√≠ se z√°kladn√≠mi pou≈æ√≠van√Ωmi koncepty a nauƒç√≠ tƒõ p≈ôistupovat k jednotliv√Ωm sloupc≈Øm, ≈ô√°dk≈Øm a bu≈àk√°m.

V√≠ce o knihovnƒõ pandas najde≈° na jej√≠ch domovsk√Ωch str√°nk√°ch: https://pandas.pydata.org/

## Import knihovny `pandas`

In [1]:
import pandas as pd     # K pandas budeme p≈ôistupovat pomoc√≠ aliasu pd

üí° Tento p≈ô√≠kaz sice importuje modul (resp. knihovnu) `pandas`, ale ta nebude dostupn√° pod sv√Ωm obvykl√Ωm jm√©nem, n√Ωbr≈æ pod **aliasem** `pd`. Naopak jm√©no `pandas` nebude nad√°le definov√°no. P≈ôi bƒõ≈æn√©m programov√°n√≠ se sna≈æ√≠me alias≈Øm vyh√Ωbat, proto≈æe sni≈æuj√≠ ƒçitelnost k√≥du pro dal≈°√≠ program√°tory. U datov√© analytiky je to jinak, proto≈æe pou≈æit√≠ jednoho aliasu, kter√Ω je nav√≠c velmi bƒõ≈æn√Ω, n√°m u≈°et≈ô√≠ spoustu psan√≠.

In [2]:
# pandas   -> Vyvolalo by NameError

## Naƒçten√≠ tabulky s daty

Skoƒç√≠me do pandas rovn√Ωma nohama a uk√°≈æeme si typick√Ω p≈ô√≠klad dat, kter√° s touto knihovnou budeme zpracov√°vat.

Pro ƒçten√≠ dat m√° Pandas celou ≈ôadu funkc√≠ `read_*`, d√≠ky kter√Ωm si porad√≠ s mnoha r≈Øzn√Ωmi form√°ty. Pomƒõrnƒõ ƒçast√Ωm je form√°t CSV ("comma-separated values" - [wiki](https://cs.wikipedia.org/wiki/CSV)), ve kter√©m ka≈æd√©mu z√°znamu odpov√≠d√° jeden ≈ô√°dek, jednotliv√© vlastnosti z√°znamu pak jsou oddƒõleny ƒç√°rkami (p≈ô√≠padnƒõ jin√Ωm znakem).

Pro pr√°ci s t√≠mto notebookem si nejd≈ô√≠ve st√°hni soubor s daty z [tohoto odkazu](static/pokemon.csv). Data pro pokusy jsou vytvo≈ôena z [komplexn√≠ho Pokedexu na Githubu](https://github.com/veekun/pokedex).

In [3]:
tabulka_pokemonu = pd.read_csv("static/pokemon.csv")

Data (a≈• u≈æ to je cokoliv) jsou nyn√≠ naƒçten√° v pamƒõti, odkazuje na nƒõ promƒõnn√° `tabulka_pokemonu`. Pojƒème se pod√≠vat, co se v nich ukr√Ωv√°.

In [4]:
tabulka_pokemonu

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,803,poipole,0.6,1.8,purple,upright,False,Poison,NaN,67,73,67,73
803,804,naganadel,3.6,150.0,purple,wings,False,Poison,Dragon,73,73,73,121
804,805,stakataka,5.5,820.0,gray,quadruped,False,Rock,Steel,61,131,211,13
805,806,blacephalon,1.8,13.0,white,humanoid,False,Fire,Ghost,53,127,53,107
806,807,zeraora,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143

Pokud v≈°e zafungovalo, jak m√°, mƒõl(a) bys p≈ôed sebou m√≠t relativnƒõ pƒõknƒõ naform√°tovanou tabulku. Z√°kladn√≠ zobrazen√≠ v notebooku ti uk√°≈æe prvn√≠ch pƒõt a posledn√≠ch pƒõt ≈ô√°dk≈Ø (kdo by riskoval, ≈æe mu tis√≠ce ≈ô√°dk≈Ø zahlt√≠ okno prohl√≠≈æeƒçe?) v tabulce spoleƒçnƒõ s informac√≠ o celkov√©m poƒçtu ≈ô√°dk≈Ø a sloupc≈Ø. V tomto p≈ô√≠padƒõ tabulka obsahuje celkem 13 vlastnost√≠ (pojmenovan√Ωch sloupc≈Ø) pro 807 r≈Øzn√Ωch pok√©mon≈Ø (oƒç√≠slovan√Ωch ≈ô√°dk≈Ø).

‚ö†Ô∏è **Varov√°n√≠:** V tomto jednoduch√©m p≈ô√≠padƒõ se tabulka naƒçetla spr√°vnƒõ hned na prvn√≠ pokus, bez jak√Ωchkoliv specifick√Ωch parametr≈Ø, v≈°echny sloupce se zdaj√≠ obsahovat pou≈æiteln√© hodnoty. To je (zejm√©na u form√°tu CSV) vlastnƒõ z pekla ≈°tƒõst√≠. Obvykle jsou se vstupn√≠mi daty probl√©my - kup≈ô√≠kladu nemaj√≠ popsan√© sloupce (p≈ô√≠padnƒõ je maj√≠ popsan√© podivnƒõ), pou≈æ√≠vaj√≠ zvl√°≈°tn√≠ oddƒõlovaƒçe z√°znam≈Ø nebo desetinn√© ƒç√°sti ƒç√≠sel, v mnoha ≈ô√°dc√≠ch chybƒõj√≠ hodnoty (nebo jsou ≈°patnƒõ opsan√©), ... **ƒåi≈°tƒõn√≠ dat** se budeme vƒõnovat nƒõkdy p≈ô√≠≈°tƒõ.

Co je ten objekt ulo≈æen√Ω v promƒõnn√© `tabulka_pokemonu` vlastnƒõ zaƒç? Jak√© je t≈ô√≠dy?

## Z√°kladn√≠ t≈ô√≠dy v `pandas` - DataFrame, Series, Index

In [5]:
type(tabulka_pokemonu)

pandas.core.frame.DataFrame

Odpovƒõƒè zn√≠ `DataFrame`. Tento term√≠n (pou≈æ√≠van√Ω i v dal≈°√≠ch obl√≠ben√Ωch statistick√Ωch jazyc√≠ch, nap≈ô√≠klad [R](https://www.r-project.org/)) je nesp√≠≈° bez ƒçesk√©ho ekvivalentu, a tak nad√°le budeme mluvit o tabulk√°ch ƒçi o instanc√≠ch t≈ô√≠dy DataFrame. Pokusme se nyn√≠ n√°≈° prvn√≠ DataFrame rozpitvat.

‚ö†Ô∏è **Varov√°n√≠:** Jistƒõ si brzy v≈°imne≈°, ≈æe se `DataFrame` sv√Ωmi funkcemi hodnƒõ podobn√° se≈°itu v tabulkov√©m procesoru, ale je pot≈ôeba si uvƒõdomit, kde tato paralela konƒç√≠. Na rozd√≠l od se≈°it≈Ø v Excelu nebo LibreOffice Calcu DataFrame obsahuje "pouze" such√° data, neukl√°d√° ≈æ√°dn√© form√°tov√°n√≠ a nenab√≠z√≠ ≈æ√°dn√Ω "editor". Pƒõkn√° vizu√°ln√≠ reprezentace je jen ot√°zkou souhry `pandas` s Jupyter notebookem, p≈ô√≠padnƒõ si pro to m≈Ø≈æe≈° napsat vlastn√≠ k√≥d.

In [6]:
vysky = tabulka_pokemonu["height"]
vysky

0      0.7
1      1.0
2      2.0
3      0.6
4      1.1
      ...
802    0.6
803    3.6
804    5.5
805    1.8
806    1.5
Name: height, Length: 807, dtype: float64

üí° DataFrame se mimo jin√© chov√° podobnƒõ jako slovn√≠k (`dict`) - kdy≈æ do hranat√Ωch z√°vorek vlo≈æ√≠≈° nƒõjak√Ω kl√≠ƒç, z√≠sk√°≈° takto pojmenovan√Ω sloupec. Ve skuteƒçnosti hranat√© z√°vorky (square brackets) umo≈æ≈àuj√≠ vyb√≠rat z tabulek na z√°kladƒõ r≈Øzn√Ωch dal≈°√≠ch krit√©ri√≠, ale k tomu se je≈°tƒõ dostaneme.

Na≈°e pitva pokraƒçuje zji≈°tƒõn√≠m, co je zaƒç promƒõnn√° `vysky`.

In [7]:
type(vysky)

pandas.core.series.Series

### Series

Sloupce jsou typu `Series` (ƒçesky ≈ôada, ale ani toto slovo nebudeme pou≈æ√≠vat). Tento typ vypad√° jako seznam (`list`). Ovƒõ≈ô√≠me si, jestli se tak i chov√°:

In [8]:
vysky[0]     # Prvn√≠ v√Ω≈°ka? ‚úì

0.7

In [9]:
vysky[-5:]   # Posledn√≠ch pƒõt v√Ω≈°ek? ‚úì

802    0.6
803    3.6
804    5.5
805    1.8
806    1.5
Name: height, dtype: float64

**√ökol**: Zkus je≈°tƒõ nƒõjak√© dal≈°√≠ operace se seznamy, kter√© u≈æ um√≠≈°, aplikovat i na `vysky`. Nƒõkdy to p≈Øjde, nƒõkdy ne.

Nen√≠ tak√© ≈æ√°dn√Ω probl√©m mezi seznamy a `Series` p≈ôev√°dƒõt. V≈Øbec nejjednodu≈°≈°√≠ zp≈Øsob, jak m≈Ø≈æe≈° vytvo≈ôit vlastn√≠ Series (pomni, ≈æe mimo kontext tabulky), je vytvo≈ôit instanci t√©to t≈ô√≠dy s nƒõjak√Ωm seznamem jako argumentem:

In [10]:
cisla = pd.Series([1, 2, 3])
cisla

0    1
1    2
2    3
dtype: int64

A jde to i naopak:

In [11]:
cisla.tolist()     # Varianta 1 (preferovan√°, rychlej≈°√≠)
list(cisla)        # Varianta 2

[1, 2, 3]

ƒå√≠m se tedy `Series` od seznamu li≈°√≠ a v ƒçem spoƒç√≠v√° jeho v√Ωhoda?

Ka≈æd√Ω sloupec m√° p≈ôedev≈°√≠m n√°sleduj√≠c√≠ch pƒõt z√°kladn√≠ch vlastnost√≠:

<img src="static/series.svg" style="max-height: 20em;">

#### 1) hodnoty

In [12]:
vysky[:50].values    # Z estetick√Ωch d≈Øvod≈Ø si sloupec trochu zkr√°t√≠me

array([0.7, 1. , 2. , 0.6, 1.1, 1.7, 0.5, 1. , 1.6, 0.3, 0.7, 1.1, 0.3,
       0.6, 1. , 0.3, 1.1, 1.5, 0.3, 0.7, 0.3, 1.2, 2. , 3.5, 0.4, 0.8,
       0.6, 1. , 0.4, 0.8, 1.3, 0.5, 0.9, 1.4, 0.6, 1.3, 0.6, 1.1, 0.5,
       1. , 0.8, 1.6, 0.5, 0.8, 1.2, 0.3, 1. , 1. , 1.5, 0.2])

In [13]:
type(vysky.values)

numpy.ndarray

üí° Hodnoty jsou v `Series` ulo≈æeny ve speci√°ln√≠m form√°tu postaven√©m na typu `ndarray` z knihovny `numpy`. T√© se vƒõnovat nebudeme, ale zejm√©na v p≈ô√≠padƒõ numerick√Ωch hodnot u≈°et≈ô√≠ m√≠sto v pamƒõti a zrychl√≠ matematick√© operace (nap≈ô√≠klad seƒç√≠st v≈°echny hodnoty v Series je v√Ωraznƒõ rychlej≈°√≠ ne≈æ v seznamu).

#### 2) typ hodnot

In [14]:
vysky.dtype

dtype('float64')

üí° Na rozd√≠l od seznam≈Ø by v≈°echny prvky `Series` mƒõly b√Ωt stejn√©ho typu (pokud nejsou, zvol√≠ se nejbli≈æ≈°√≠ spoleƒçn√Ω nadtyp). `pandas` m√° vlastn√≠ sadu typ≈Ø, tzv. **dtypes**, kter√° ƒç√°steƒçnƒõ kop√≠ruje v√Ωchoz√≠ datov√© typy v Pythonu, ale (p≈ôedev≈°√≠m u numerick√Ωch typ≈Ø) se bl√≠≈æ√≠ v√≠ce k tomu, jak s nimi pracuje procesor. A nehledejte u nich dƒõdiƒçnost (dobr√° zpr√°va?). Nejbƒõ≈ænƒõj≈°√≠ typy si p≈ôedstav√≠me p≈ô√≠≈°tƒõ - spoleƒçnƒõ s operacemi, kter√© se se sloupci daj√≠ dƒõlat.

#### 3) index

In [15]:
vysky.index

RangeIndex(start=0, stop=807, step=1)

üí° K prvk≈Øm seznamu p≈ôistupuje≈° pomoc√≠ ƒç√≠seln√©ho po≈ôad√≠ (0 - prvn√≠ prvek, 1 - druh√Ω, ...), ze slovn√≠ku vyb√≠r√°≈° podle kl√≠ƒçe, pandas zav√°d√≠ zobecnƒõn√Ω **index**, kter√Ω m≈Ø≈æe b√Ωt ƒç√≠seln√Ω, ≈ôetƒõzcov√Ω, ale t≈ôeba i postaven√Ω na datu/ƒçasu. O r≈Øzn√Ωch indexech viz n√≠≈æe.

#### 4) jm√©no

In [16]:
vysky.name

'height'

üí° `Series` m≈Ø≈æe, ale nemus√≠ m√≠t jm√©no. Pozor, je to hodnota ulo≈æen√° uvnit≈ô samotn√©ho objektu, nijak nesouvis√≠ se jm√©nem promƒõnn√©, do kter√© ho ulo≈æ√≠≈° (ale u sloupce v tabulce se pou≈æije pro p≈ô√≠stup k nƒõmu).

#### 5) velikost

In [17]:
vysky.size

807

üí° Tato vlastnost ≈ô√≠k√°, kolik je v `Series` prvk≈Ø. Nen√≠ nijak magick√°, chov√° se jako `len` u seznamu (a ostatnƒõ `len` lze pou≈æ√≠t i na `Series`). Pro √∫plnost uv√°d√≠me, ≈æe na rozd√≠l od ostatn√≠ch vlastnost√≠ je tato jen pro ƒçten√≠.

**√ökol:** Zjisti hodnoty atribut≈Ø `.name`, `.index`, `.dtype`, `.values` a `size` u objektu `cisla`. V≈°imne≈° si nƒõƒçeho zaj√≠mav√©ho? P≈ô√≠padnƒõ se pod√≠vej na tot√©≈æ u nƒõkter√Ωch dal≈°√≠ch sloupc≈Ø z `tabulka_pokemonu`.

P≈ôi vytv√°≈ôen√≠ objekt≈Ø `Series` lze tyto atributy (a≈æ na `size` a v omezen√© m√≠≈ôe `dtype`) explicitnƒõ uv√©st:

In [18]:
vek = pd.Series(
    [27, 65, 14],
    name="Vƒõk",
    index=["Karla", "Martina", "≈Ωofie"],
    dtype=float,
)
vek

Karla      27.0
Martina    65.0
≈Ωofie      14.0
Name: Vƒõk, dtype: float64

**√ökol:** Vytvo≈ô objekt Series, kter√Ω bude obsahovat seznam barev, zv√≠≈ôat, ƒç√≠sel nebo nƒõjak√© jin√© kategorie vƒõc√≠, kter√© m√°≈° r√°d/a.

## Index

Ve v√Ωchoz√≠m stavu je u sloupc≈Ø i tabulek pou≈æit bezejmenn√Ω ƒç√≠seln√Ω index, kter√Ω ≈ôad√≠ prvky po sobƒõ od nuly v√Ω≈°e:

In [19]:
vysky.index

RangeIndex(start=0, stop=807, step=1)

Nicm√©nƒõ existuj√≠ i dal≈°√≠ typy index≈Ø (vƒõt≈°inou v√Ωƒçtov√©):

In [20]:
vek.index

Index(['Karla', 'Martina', '≈Ωofie'], dtype='object')

In [21]:
udalosti = pd.Series(
    ["Nez√°vislost ƒåeskoslovenska", "Konec druh√© svƒõtov√© v√°lky", "Sametov√° revoluce"],
    index = pd.Index([1918, 1945, 1989], name="rok")   # Index m≈Ø≈æe m√≠t i jm√©no
)
udalosti

rok
1918    Nez√°vislost ƒåeskoslovenska
1945     Konec druh√© svƒõtov√© v√°lky
1989             Sametov√° revoluce
dtype: object

In [22]:
udalosti.index

Int64Index([1918, 1945, 1989], dtype='int64', name='rok')

Tento index je ƒç√≠seln√Ω, ale hodnoty nejsou (resp. jsou, ale nemusely by b√Ωt) srovnan√© a jsou "dƒõrav√©".

In [23]:
udalosti_presne = pd.Series(
    ["Nez√°vislost ƒåeskoslovenska", "Konec druh√© svƒõtov√© v√°lky", "Sametov√° revoluce"],
    index = pd.DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'])
)
udalosti_presne.index

DatetimeIndex(['1918-10-28', '1945-05-08', '1989-11-17'], dtype='datetime64[ns]', freq=None)

Hodnoty indexu potom lze pou≈æ√≠t v hranat√Ωch z√°vork√°ch pro p≈ô√≠stup k prvk≈Øm `Series`, podobnƒõ jako u slovn√≠ku. Mo≈ænosti jsou ale mnohem ≈°ir≈°√≠, uk√°≈æeme si je za chv√≠li v kontextu DataFrame.

In [24]:
vek["Martina"]

65.0

**√ökol:** Jak√Ω index m√° tabulka pok√©mon≈Ø?

## DataFrame

<img src="static/df.svg" style="max-height: 25em;"/>

Kdy≈æ u≈æ jsme se sezn√°mili se sloupci a indexy, m≈Ø≈æeme se vr√°tit k tabulce, resp. `DataFrame`.

Podobnƒõ jako je `Series` kontejnerem hodnot spojen√Ωch s indexem, `DataFrame` je dvojrozmƒõrn√Ωm kontejnerem, kter√Ω kromƒõ hodnot (`.values`) obsahuje hned dva indexy - jeden pro ≈ô√°dky a jeden pro sloupce:

In [25]:
tabulka_pokemonu.columns    # Seznam sloupc≈Ø

Index(['id', 'name', 'height', 'weight', 'color', 'shape', 'is baby', 'type 1',
       'type 2', 'hp', 'attack', 'defense', 'speed'],
      dtype='object')

In [26]:
tabulka_pokemonu.index      # Index (seznam ≈ô√°dk≈Ø)

RangeIndex(start=0, stop=807, step=1)

In [27]:
tabulka_pokemonu.values

array([[1, 'bulbasaur', 0.7, ..., 49, 49, 45],
       [2, 'ivysaur', 1.0, ..., 62, 63, 60],
       [3, 'venusaur', 2.0, ..., 82, 83, 80],
       ...,
       [805, 'stakataka', 5.5, ..., 131, 211, 13],
       [806, 'blacephalon', 1.8, ..., 127, 53, 107],
       [807, 'zeraora', 1.5, ..., 112, 75, 143]], dtype=object)

In [28]:
tabulka_pokemonu.shape       # Velikost (poƒçet ≈ô√°dk≈Ø x poƒçet sloupc≈Ø)

(807, 13)

Zkonstruovat novou tabulku lze (kromƒõ naƒçten√≠ dat z extern√≠ho souboru) nƒõkolika zp≈Øsoby, z nich≈æ asi nejƒçastƒõj≈°√≠ jsou ze seznamu slovn√≠k≈Ø nebo slovn√≠ku seznam≈Ø. Podobnƒõ jako u `Series`, nƒõkter√© atributy lze dodat jako dal≈°√≠ argumenty.

In [29]:
pd.DataFrame({
    "cislo": [1, 2, 3],
    "pismeno": ["a", "b", "c"]
})

   cislo pismeno
0      1       a
1      2       b
2      3       c

In [30]:
pd.DataFrame([
        {"jmeno": "m√°slo", "cena": 42.90},
        {"jmeno": "s√Ωr", "cena": 31.90},
        {"jmeno": "keƒçup", "cena": 49.90 },   
    ],
    index=["artikl1", "artikl2", "artikl3"]
)

         jmeno  cena
artikl1  m√°slo  42.9
artikl2    s√Ωr  31.9
artikl3  keƒçup  49.9

**√ökol:** Vytvo≈ô tabulku (`DataFrame`), kter√° bude obsahovat sloupce "jm√©no", "p≈ô√≠jmen√≠" a "vƒõk" pro postavy z nƒõjak√©ho tv√©ho obl√≠ben√©ho rom√°nu ƒçi filmu. M≈Ø≈æe≈°, ale nemus√≠≈° v n√≠ pou≈æ√≠t index.

## Indexov√°n√≠

≈ò√°dky, sloupce, ƒç√≠seln√© po≈ôad√≠, kl√≠ƒçe, rozsahy... Objekty pandas se nƒõkdy chovaj√≠ jako seznamy, nƒõkdy jako slovn√≠ky. Jak z nich tedy dostat hodnoty? Je toho hodnƒõ, a proto p≈ôistupov√°n√≠ k ƒç√°stem tabulky nevystaƒç√≠me s prost√Ωmi hranat√Ωmi z√°vorkami `[]`.

Pro zaƒç√°tek si uprav√≠me na≈°i tabulku s pok√©mony tak, aby mƒõla zaj√≠mav√Ω a snadno uchopiteln√Ω index. Pou≈æijeme k tomu dvƒõ metody t≈ô√≠dy `DataFrame` (obƒõ vrac√≠ novou instanci `DataFrame`, odvozenou od instance, na kter√© je vol√°me):

* `set_index` vrac√≠ tabulku, ve kter√© je nƒõkter√Ω ze sloupc≈Ø pou≈æit jako index

* `sort_index` vrac√≠ tabulku, kter√° obsahuje stejn√Ω index, ale se≈ôazen√Ω

In [31]:
pokemoni = tabulka_pokemonu.set_index("name").sort_index()
pokemoni

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
abomasnow,460,2.2,135.5,white,upright,False,Grass,Ice,90,92,75,60
abra,63,0.9,19.5,brown,upright,False,Psychic,NaN,25,20,15,90
absol,359,1.2,47.0,white,quadruped,False,Dark,NaN,65,130,60,75
accelgor,617,0.8,25.3,red,arms,False,Bug,NaN,80,70,40,145
aegislash,681,1.7,53.0,brown,blob,False,Steel,Ghost,60,50,150,60
...,...,...,...,...,...,...,...,...,...,...,...,...
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

In [32]:
pokemoni.index

Index(['abomasnow', 'abra', 'absol', 'accelgor', 'aegislash', 'aerodactyl',
       'aggron', 'aipom', 'alakazam', 'alomomola',
       ...
       'zapdos', 'zebstrika', 'zekrom', 'zeraora', 'zigzagoon', 'zoroark',
       'zorua', 'zubat', 'zweilous', 'zygarde'],
      dtype='object', name='name', length=807)

### `[]`

Zaƒçneme s hranat√Ωmi z√°vorkami:

* U `Series` vrac√≠ hodnotu, j√≠≈æ p≈ôin√°le≈æ√≠ p≈ô√≠slu≈°n√Ω kl√≠ƒç v indexu (to jsme si uk√°zali v√Ω≈°e).
* U `DataFrame` vrac√≠ sloupec s p≈ô√≠slu≈°n√Ωm jm√©nem

In [33]:
pokemoni["height"]

name
abomasnow    2.2
abra         0.9
absol        1.2
accelgor     0.8
aegislash    1.7
            ...
zoroark      1.6
zorua        0.7
zubat        0.8
zweilous     1.4
zygarde      5.0
Name: height, Length: 807, dtype: float64

Pokud do z√°vorek u `DataFrame` vlo≈æ√≠≈° nƒõkolik hodnot v seznamu, dostane≈° v√≠ce sloupc≈Ø (a tedy `DataFrame`!):

In [34]:
pokemoni[["height", "weight"]]

           height  weight
name
abomasnow     2.2   135.5
abra          0.9    19.5
absol         1.2    47.0
accelgor      0.8    25.3
aegislash     1.7    53.0
...           ...     ...
zoroark       1.6    81.1
zorua         0.7    12.5
zubat         0.8     7.5
zweilous      1.4    50.0
zygarde       5.0   305.0

[807 rows x 2 columns]

**√ökol:** Co se stane, kdy≈æ tot√©≈æ uƒçin√≠≈° se `Series`?

**√ökol:** Kter√Ω z posledn√≠ch 5 pokemon≈Ø (abecednƒõ se≈ôazen√Ωch) je nejrychlej≈°√≠?

### `.loc[]`

Kdy≈æ chceme z√≠skat nƒõjak√Ω ≈ô√°dek, pou≈æijeme atribut `loc`, takzvan√Ω indexer. Pozor, nen√≠ to metoda a nepou≈æ√≠vaj√≠ se z√°vorky kulat√©, n√Ωbr≈æ hranat√©. (M√° to sv√© d≈Øvody - jedinƒõ tak m≈Ø≈æeme elegantnƒõ pou≈æ√≠vat zkr√°cen√Ω dvojteƒçkov√Ω z√°pis pro rozsahy).

In [35]:
pokemoni.loc["abra"]

id              63
height         0.9
weight        19.5
color        brown
shape      upright
is baby      False
type 1     Psychic
type 2         NaN
hp              25
attack          20
defense         15
speed           90
Name: abra, dtype: object

Zaj√≠mal n√°s ≈ô√°dek s indexem "abra" a dostali jsme oƒçek√°van√Ω v√Ωsledek - `Series`, kde ka≈æd√° hodnota je oindexovan√° jm√©nem sloupce.

Ov≈°em situace zaƒçne b√Ωt zaj√≠mav√°, kdy≈æ zaƒçneme v indexu pou≈æ√≠vat rozsahy (pomni, ≈æe nƒõco takov√©ho slovn√≠ky neum√≠):

In [36]:
pokemoni.loc["z":]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zangoose,335,1.3,40.3,white,upright,False,Normal,NaN,73,115,60,90
zapdos,145,1.6,52.6,yellow,wings,False,Electric,Flying,90,90,85,100
zebstrika,523,1.6,79.5,black,quadruped,False,Electric,NaN,75,100,63,116
zekrom,644,2.9,345.0,black,upright,False,Dragon,Electric,100,150,120,90
zeraora,807,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143
zigzagoon,263,0.4,17.5,brown,quadruped,False,Normal,NaN,38,30,41,60
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

Pandas inteligentnƒõ pochopil, ≈æe chceme v≈°echny kl√≠ƒçe v nƒõjak√©m rozsahu, dokonce ani≈æ by byly v indexu p≈ô√≠tomny.

‚ö†Ô∏è Toto ov≈°em lze uƒçinit jen se se≈ôazen√Ωm indexem. Pokud index se≈ôazen√Ω nen√≠, vyb√≠r√° se rozsah existuj√≠c√≠ch kl√≠ƒç≈Ø v po≈ôad√≠, jak jdou za sebou, vƒçetnƒõ obou krajn√≠ch hodnot, tedy takto:

In [37]:
pokemoni.loc["zangoose":"zygarde"]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zangoose,335,1.3,40.3,white,upright,False,Normal,NaN,73,115,60,90
zapdos,145,1.6,52.6,yellow,wings,False,Electric,Flying,90,90,85,100
zebstrika,523,1.6,79.5,black,quadruped,False,Electric,NaN,75,100,63,116
zekrom,644,2.9,345.0,black,upright,False,Dragon,Electric,100,150,120,90
zeraora,807,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143
zigzagoon,263,0.4,17.5,brown,quadruped,False,Normal,NaN,38,30,41,60
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

Kdy≈æ se chce≈° dostat ke konkr√©tn√≠ hodnotƒõ, pou≈æije≈° v hranat√Ωch z√°vork√°ch dva kl√≠ƒçe v po≈ôad√≠ *≈ô√°dek*, *sloupec*.

In [38]:
pokemoni.loc["zorua", "color"]

'gray'

Pozor ale na poƒçet z√°vorek. Pokud se v z√°vorce vyskytne seznam s kl√≠ƒçi, vyberou se v dan√© dimenzi v≈°echny odpov√≠daj√≠c√≠ ≈ô√°dky ƒçi hodnoty:

In [39]:
pokemoni.loc[["zorua", "zubat"]]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55

P≈ô√≠stupy lze samoz≈ôejmƒõ (nebo ne tak samoz≈ôejmƒõ?) kombinovat, a tak m≈Ø≈æe≈° vyb√≠rat rozsahy i seznamy v ≈ô√°dc√≠ch a sloupc√≠ch nez√°visle na sobƒõ:

In [40]:
pokemoni.loc["j":"k", ["color", "attack"]]

             color  attack
name
jangmo-o      gray      55
jellicent    white      60
jigglypuff    pink      45
jirachi     yellow     100
jolteon     yellow      65
joltik      yellow      47
jumpluff      blue      55
jynx           red      50

**√ökol:** Jakou barvu maj√≠ (v≈°ichni) pok√©moni, jejich≈æ jm√©no zaƒç√≠n√° na "z"?

**√ökol:** Kolik pokemon≈Ø existuje se jm√©nem mezi p√≠smeny "d" a "f"?

**√ökol:** Ze seznamu v≈°ech pokemon≈Ø jsi vyber 5 s jm√©nem tobƒõ sympatick√Ωm (vyhni se prvn√≠m a posledn√≠m pƒõti). Jak√©ho jsou typu? Kter√Ω je nejvy≈°≈°√≠ a kter√Ω nejtƒõ≈æ≈°√≠?

### `.iloc[]`

Kdy≈æ chceme na chv√≠li zapomenout na to, jak√Ω index je u tabulky nebo sloupce pou≈æit, m≈Ø≈æeme k prvk≈Øm p≈ôistupovat p≈ô√≠mo p≈ôes jejich po≈ôad√≠ (ƒç√≠sla ≈ô√°dku nebo sloupce). Toto je v z√°sadƒõ intuitivn√≠ a odpov√≠d√° indexov√°n√≠, na kter√© jsi zvykl√°/√Ω z pr√°ce se seznamy.

In [41]:
pokemoni.iloc[44]

id                15
height             1
weight          29.5
color         yellow
shape      bug-wings
is baby        False
type 1           Bug
type 2        Poison
hp                65
attack            90
defense           40
speed             75
Name: beedrill, dtype: object

In [42]:
pokemoni.iloc[-10:]

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zapdos,145,1.6,52.6,yellow,wings,False,Electric,Flying,90,90,85,100
zebstrika,523,1.6,79.5,black,quadruped,False,Electric,NaN,75,100,63,116
zekrom,644,2.9,345.0,black,upright,False,Dragon,Electric,100,150,120,90
zeraora,807,1.5,44.5,yellow,humanoid,False,Electric,NaN,88,112,75,143
zigzagoon,263,0.4,17.5,brown,quadruped,False,Normal,NaN,38,30,41,60
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

I tady jde kombinovat. A tak, a≈æ tƒõ nƒõkdo po≈æ√°d√° o hodnotu, kter√° se nach√°z√≠ "vlevo dole", m≈Ø≈æe≈° zkusit:

In [43]:
pokemoni.iloc[-1,0]

718

Na z√°vƒõr, jen pro √∫plnost si p≈ôedstav√≠me t≈ôi pohodln√© funkce, kter√© vyb√≠raj√≠ prvn√≠, posledn√≠ nebo n√°hodn√© ≈ô√°dky z tabulky (v≈°echny t≈ôi maj√≠ nepovinn√Ω parametr ud√°vaj√≠c√≠ poƒçet po≈æadovan√Ωch ≈ô√°dk≈Ø):

In [44]:
pokemoni.head()    # Prvn√≠ch nƒõkolik ≈ô√°dk≈Ø

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
abomasnow,460,2.2,135.5,white,upright,False,Grass,Ice,90,92,75,60
abra,63,0.9,19.5,brown,upright,False,Psychic,NaN,25,20,15,90
absol,359,1.2,47.0,white,quadruped,False,Dark,NaN,65,130,60,75
accelgor,617,0.8,25.3,red,arms,False,Bug,NaN,80,70,40,145
aegislash,681,1.7,53.0,brown,blob,False,Steel,Ghost,60,50,150,60

In [45]:
pokemoni.tail()     # Posledn√≠ch nƒõkolik ≈ô√°dk≈Ø

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
zoroark,571,1.6,81.1,gray,upright,False,Dark,NaN,60,105,60,105
zorua,570,0.7,12.5,gray,quadruped,False,Dark,NaN,40,65,40,65
zubat,41,0.8,7.5,purple,wings,False,Poison,Flying,40,45,35,55
zweilous,634,1.4,50.0,blue,quadruped,False,Dark,Dragon,72,85,70,58
zygarde,718,5.0,305.0,green,squiggle,False,Dragon,Ground,108,100,121,95

**√ökol:** Um√≠≈° napsat obdobu funkce `.tail()` pomoc√≠ indexov√°n√≠?

In [46]:
pokemoni.sample()    # N√°hodn√Ω ≈ô√°dek

,id,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
name,,,,,,,,,,,,
totodile,158,0.6,9.5,blue,upright,False,Water,NaN,50,65,64,43

**√ökol (bonusov√Ω):** Um√≠≈° napsat obdobu funkce `sample()` pomoc√≠ indexov√°n√≠ (a modulu `random`)?

## Shrnut√≠

V t√©to lekci jsme si uk√°zali t≈ôi z√°kladn√≠ typy knihovny `pandas`:
    
* `Series` coby jednorozmƒõrn√Ω objekt obsahuj√≠c√≠ hodnoty stejn√©ho typu
* `DataFrame` coby dvojrozmƒõrn√° tabulka slo≈æen√° z v√≠ce `Series`
* `Index` coby zobecnƒõn√Ω popis, jak p≈ôistupovat k prvk≈Øm `Series` nebo `DataFrame`

Kromƒõ toho jsme se nauƒçili z tabulek vyb√≠rat sloupce, ≈ô√°dky, i jednotliv√© hodnoty.

V dal≈°√≠ lekci si uk√°≈æeme, jak√© datov√© typy (p≈ôesnƒõji `dtypes`) lze v `pandas` pou≈æ√≠t, zaƒçneme poƒç√≠tat a v≈Øbec napodobovat funkce tabulkov√Ωch procesor≈Ø.

## Cviƒçen√≠
M√≠stn√≠ zoo zva≈æuje investici do nov√©ho pavilonu vyhrazen√©ho pro Pokemony. ≈òeditel zoo, pan Felix, si ale nen√≠ jist, jestli by se tato investice vyplatila a co v≈°echno by to pro zoo znamenalo. Nƒõkdo mu doporuƒçil, aby si na pomoc pozval tebe (my za to nem≈Ø≈æeme, p≈ô√≠sah√°me - pozn. auto≈ôi kurzu). Pan ≈ôeditel sepsal seznam ot√°zek, na kter√© by chtƒõl zn√°t odpovƒõd.
0. (pro opakov√°n√≠ opƒõt naƒçti data ze souboru `pokemon.csv`)
1. Pro kolik nov√Ωch zv√≠≈ô√°tek by zoo pot≈ôebovala potravu? Pan ≈ôeditel by chtƒõl jednoho samce a jednu samiƒçku od ka≈æd√©ho druhu (jm√©na).
2. Marketingov√© oddƒõlen√≠ se chyst√° vytvo≈ôi≈• nov√© let√°ƒçky o Pokemonech pro n√°v≈°tƒõvn√≠ky zoo. Pro v≈°echny Pokemony by pot≈ôebovali informace o jejich v√Ω≈°ce, v√°ze, d√©lce, barvƒõ a typu. Jsou v≈°echny informace k dispozici?
3. Provoz zoo pova≈æuje za ide√°ln√≠, kdyby Pokemony p≈ôiv√°≈æely postupnƒõ, ve skupin√°ch po osmi tak, jak jsou uvedeni v tabulce `pokemon.csv`. Kte≈ô√≠ Pokemoni by byli v prvn√≠, v druh√© a v posledn√≠ skupinƒõ?
4. Provoz zoo tak√© upozornil na speci√°ln√≠ podm√≠nky nutn√© pro 3 nejvy≈°≈°√≠ Pokemony. V tabulce `pokemon.csv` jsou na pozic√≠ch 207, 320 a 796, nikto si v≈°ak nepamatuje, o kter√© Pokemony se jednalo. Jak se jmenuj√≠?
5. Pan ≈ôeditel miluje Onixe. Chtƒõl by pro nƒõho vybudovat speci√°ln√≠ vyhl√≠dku pro kamenn√© Pokemony s rychlost√≠ vy≈°≈°√≠ ne≈æ 50. L√≠bilo by se tam Onixovi?
6. Pan ≈ôeditel by tak√© chtƒõl vytvo≈ôit sekci pro v≈°echny Pokemony zaƒç√≠naj√≠c√≠ na "i". Temn√≠ Pokemoni ale nemohou b√Ωt s norm√°ln√≠mi, ohniv√≠ s vodn√≠mi nebo travnat√Ωmi a elektrick√Ω s psychick√Ωmi. Bude mo≈æn√© tuto sekci vytvo≈ôit? (tip: pro zobrazen√≠ v≈°ech Pokemon≈Ø na "i" bude≈° pot≈ôebovat m√≠t index se≈ôazen abecednƒõ)